{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <div class="card">
        <p class="x-large">Sign-in</p>
        {% if form.errors %}
            <p>
                Your username and password didn't match.
                Please try again.
            </p>
        {% else %}
            <p>
                Please, use the following form to sign-in.
                If you don't have an account <a href="{% url 'register' %}">register here</a>
            </p>
        {% endif %}
        <div class="social">
            <ul>
                <!-- <li class="facebook">
                    <a href="{% url "social:begin" "facebook" %}" class="facebook-btn">
                        <i class="fab fa-facebook-f"></i> Sign in with Facebook
                    </a>
                </li> -->
                <li class="google">
                    <a href="{% url "social:begin" "google-oauth2" %}" class="google-btn">
                        <i class="fab fa-google"></i> Sign in with Google
                    </a>
                </li>
            </ul>
        </div>
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log-in" /></p>
            </form>
            <p>
                <a href="{% url 'password_reset' %}">Forgotten your password?</a>
            </p>

        </div>
    </div>
    
{% endblock %}