{% extends "base.html" %}

{% block title %}Bookmark an image{% endblock %}

{% block content %}
    <div class="container-2">
            <div class="title">
                <h1>Bookmark an image</h1>
                <hr> <!-- Horizontal line -->
            </div>
            <div class="card-body">
                <div class="image-preview">
                    <img src="{{ request.GET.url }}" alt="Preview Image">
                </div>
                <div class="bookmark-form">
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Bookmark it!">
                    </form>
                </div>
            </div>
    </div>
{% endblock %}