{% load thumbnail %}
{% load static %}

{% if images %}
    {% for image in images %}
        <div class="image">
            <a href="{{ image.get_absolute_url }}">
                {% thumbnail image.image 300x300 crop="smart" as im %}
                <a href="{{ image.get_absolute_url }}">
                    <img src="{{ im.url }}">
                </a>
            </a>

            <div class="info">
                <a href="{{ image.get_absolute_url }}" class="title">
                    {{ image.title }}
                </a>
            </div>

        </div>
    {% endfor %}
{% else %}
    <div class="image-container-1">
        <img class="fallback-image" src="{% static 'img/Search-rafiki.png' %}" alt="Fallback Image">
        <p class="fallback-message">No images available yet.</p>
    </div>
{% endif %}

